<div class="container">
    {% if monkeys %}
        <table class="table table-borderless">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a href="?offset={{ offset }}&sort=desc&sort_by=name" class="btn btn-sm btn-outline-info">
                        ▼
                    </a>
                    Name
                    <a href="?offset={{ offset }}&sort=asc&sort_by=name" class="btn btn-sm btn-outline-info">
                        ▲
                    </a>
                </th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">
                    <a href="?offset={{ offset }}&sort=desc&sort_by=best_friend_name" class="btn btn-sm btn-outline-info">
                        ▼
                    </a>
                    Best Friend
                    <a href="?offset={{ offset }}&sort=asc&sort_by=best_friend_name" class="btn btn-sm btn-outline-info">
                        ▲
                    </a>
                </th>
                <th scope="col">
                    <a href="?offset={{ offset }}&sort=desc&sort_by=friends_count" class="btn btn-sm btn-outline-info">
                        ▼
                    </a>
                    Friends Count
                    <a href="?offset={{ offset }}&sort=asc&sort_by=friends_count" class="btn btn-sm btn-outline-info">
                        ▲
                    </a>
                </th>
                </tr>
            </thead>
            <tbody>
                {% for mnkdata in monkeys %}
                    <tr>
                    <th scope="row">{{ mnkdata.monkey.id }}</th>
                    <td>
                        {{ mnkdata.monkey.name }}
                    </td>
                    <td>{{ mnkdata.monkey.age }}</td>
                    <td>{{ mnkdata.monkey.email }}</td>
                    <td>{{ mnkdata.best_friend_name }}</td>
                    <td>{{ mnkdata.friends_count }}</td>
                    <th>
                        <a href="{{ url_for('crud.edit', pk=mnkdata.monkey.id) }}" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="{{ url_for('crud.view', pk=mnkdata.monkey.id) }}" class="btn btn-sm btn-outline-info">View</a>
                        <a href="{{ url_for('crud.delete', pk=mnkdata.monkey.id) }}" class="btn btn-sm btn-outline-danger">Remove</a>
                    </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p><em>There is no Monkey available</em> Click <a href="{{ url_for('crud.create') }}">here</a> to create one.</p>

    {% endif %}
</div>
