
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('crud.dashboard') }}">
        Monkeys Network
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% with url = url_for('crud.dashboard') %}
            <li class="nav-item {% if url == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ url }}">Dashboard
                    {% if url == request.path %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            {% endwith %}
            {% with url = url_for('crud.create') %}
            <li class="nav-item {% if url == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ url }}">Create Monkey
                    {% if url == request.path %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            {% endwith %}
        </ul>
    </div>
</nav>
