<table class="table table-hover table-dark table-sm">
    <tbody>
        {% for networkmonkey in network %}
        <tr>
            <td scope="row">
                {{ networkmonkey.name }}
            </td>
            <td>
                {% if networkmonkey.has_friendship %}
                    {% if monkey.best_friend != networkmonkey.id %}
                        <a href="{{ url_for('crud.set_best_friend', mnk_id=monkey.id, friend_id=networkmonkey.id) }}" class="btn btn-sm btn-primary">Make best</a>
                    {% else %}
                        <span class="badge badge-info">BEST</span>
                    {% endif %}
                {% endif %}

            </td>
            <td>
                {% if networkmonkey.has_friendship %}
                    <a href="{{ url_for('crud.undo_friendship', mnk_id=monkey.id, friend_id=networkmonkey.id) }}" class="float-right btn btn-sm btn-danger">Remove</a>
                {% else %}
                    <a href="{{ url_for('crud.make_friendship', mnk_id=monkey.id, friend_id=networkmonkey.id) }}" class="float-right btn btn-sm btn-primary">Add</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
