<div class="container">
    <nav aria-label="">
        <ul class="pagination">
            {% for page_offset in pages %}
                <li class="page-item {% if offset == page_offset %}active{% endif %}">
                    <a class="page-link" href="?offset={{ page_offset }}&sort={{ filterform.sort.data }}&sort_by={{ filterform.sort_by.data }}">{{ loop.index }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
