{% extends "crud/form.html" %}

{% block content_title %}Confirm?{% endblock %}

{% block form %}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.confirm.label }}
        {{ form.confirm(class_="form-control") }}
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Confirm">
    </p>
{% endblock %}
