{% extends "crud/form.html" %}

{% block content_title %}Create Monkey{% endblock %}

{% block form %}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_="form-control") }}
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Save">
    </p>
{% endblock %}
