{% extends "crud/dashboard.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">{% block content_title %}{% endblock %}</h1>

    {% for field, errors in form.errors.items() %}
    <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}

    <form  class="form form-register" method="post" role="form">
    {% block form %}{% endblock %}
    </form>
</div>
{% endblock %}
