{% extends "crud/dashboard.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
        <blockquote class="blockquote mb-0">
            <p>
                Hi, my email account is {{ monkey.email }}
            <footer class="blockquote-footer">
                {{ monkey.name }} <cite title="Source Title">{{ monkey.age }} years</cite></footer>
        </blockquote>
        </div>
        <div class="col">
            <h3>Friendships</h3>
            {% include "crud/includes/network.html" %}
        </div>
    </div>
</div>
{% endblock %}
